/*-----------------------------RESETEO INICIAL---------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------FUENTES Y TAMAÑOS--------------------------------*/


h1 {
    font-family: 'Copperplate', Courier, monospace;
}

h2, p, label, td, th{
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3{
    text-align: center;
}

.lateralbar__mentors__ficha__text p, p{
    margin: 12% 4%;
    font-size: 105%;
    font-weight: bold;
}

.lateralbar__mentors__ficha__text h3 {
    margin-left: 30%;
    margin-top: 6%;
    font-size: 130%;
}

.letscodertext{
    padding-top:17%;
    font-weight: bold;
}

h2, .navbar h1{
    font-size: 200%;
}

.nextdates__fulltime__dates h1, .nextdates__parttime__dates h1{
    font-size: 600%;
}

h1{
    font-size: 300%;
}

.lateralbar__title h1{
    font-size: 400%;
}

.contact h1{
    margin-bottom: 8%;
}

.contact a, .contact h2{
    margin-bottom: 2%;
}

label, input{
    font-size: 20px;
    font-weight: bold;
}

input{
    width: 15%;
}



/*--------------------------COLORES DE FUENTES-------------------------------*/



h1, h2, .content, ul, table{
    color: white;
}

.dates__text h1, .dates__text h2 {
    color: black;
}

.inscriptionbutton h2, .sendbutton h2{
color: rgb(121, 13, 121)
}

.highlighted{
    color:  white;
    -webkit-text-stroke: 1px rgb(226, 3, 178);
}




/*--------------------------------BOTONES----------------------------------*/


a{
    text-decoration:none;
}

a:hover{
    color:  purple;
    -webkit-text-stroke: 2px rgb(226, 3, 178);
}

.inscriptionbutton, .sendbutton {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: rgb(170, 0, 150) 4px outset;
    background: linear-gradient(to bottom, #ffffff, rgb(255, 173, 230));
    outline:none;
    font-size: 90%;
}

.inscriptionbutton{
    margin-top: -10%;
}

.sendbutton{
    margin-top: 50px;
}

.inscriptionbutton:hover, .sendbutton:hover{
    background: linear-gradient(to bottom, #ffffff, rgb(245, 113, 205));
    color:  rgb(121, 13, 121);
    -webkit-text-stroke: 2px rgb(248, 98, 216);
    font-size: 80%;
    width: 190px;
    height: 90px;
}


/*---------------------------------------------------------------------ESTRUCTURA-----------------------------------------------------------------------------------------*/


body{
    display: flex;
    flex-direction: column;
    background-image: url("../img/fondonegro222.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
}

footer{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    background-color: rgb(98, 0, 136);
    border-top: 5px solid black;
}

.navbar{
    background-image: linear-gradient(150deg, rgb(58, 1, 51) 60%, rgb(255, 101, 242) );
    height: 50px;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .navbar__enlace{
        margin-left: 5%;   
    }
    .burguer{
        border: 1px solid rgb(161, 60, 161);
        cursor: pointer;
        margin-left: 30px;
        display: none;
    }
    .navbar > input {
        display: none;
    }
    .burguer > div{
        width: 30px;
        height: 5px;
        margin: 5px;
        background-color:rgb(255, 197, 255);
    }
    .navbar > input:checked  ~ a{
        display:block;
      }

    .logo{
        position: absolute;
        right: 8%;
        border: 5px solid;
        border-image-source: linear-gradient(150deg, rgb(58, 1, 51) 60%, rgb(255, 101, 242) );
        border-image-slice: 1;
        display: flex;
    }

.lateralbar{
    width: 25%;
    margin: 0.5% 0.5% 0.5% 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .lateralbar__title{
        width: 80%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .lateralbar__title img{
        width: 100%;
    }
    .lateralbar__mentors{
        background-color:  rgba(191, 136, 255, 0.315);
        box-shadow: 0px 0px 10px 7px rgba(255, 136, 245, 0.96);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
        .lateralbar__mentors__ficha__img{
            width: 30%;
            border-radius: 50%;
            margin-top: 100px;
            margin-left: -55%;
            z-index: 2;
            border:6px rgba(117, 0, 250, 0.939) outset;
        }
        .lateralbar__mentors__ficha__text{
            background-color:rgb(255, 255, 255);
            border:6px double rgb(0, 0, 0);
            width: 90%;
            height: 350px;
            margin-top: -80px;
            z-index: 1;
            display: flex;
            flex-direction: column;
        }

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 75%;
}



/*---------------------------------------------------------------------------------HOME-----------------------------------------------------------------------------------*/


    .mainhead{
        height: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
        .mainhead__hole{
            width: 98%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 5px solid;
            border-image-source: linear-gradient(150deg, rgb(58, 1, 51) 60%, rgb(255, 101, 242) );
            border-image-slice: 1;
            background-image: url("../img/background-image.jpg");
            background-size: cover;
        }
            .mainhead__hole > img{
                width: 60%;
            }

    .nextdates{
        height: 800px;
        margin-top: 200px;
        display: flex;
    }
        .nextdates__title{
            position: absolute;
            width: 40%;
            height: 50px;
            margin: 0 0 0 18%;
        }
        .nextdates__fulltime{
            width: 66.66%;
            padding-top: 20px;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
            .nextdates__fulltime__title{
                width: 70%;
                height: 20px;
                margin-bottom: -20%;
            }
            .nextdates__fulltime__dates{
                width: 40%;
                height: 360px;
                display:flex;
                flex-direction: column;
                align-items: center;
            }

        .line{
            width: 3px;
            height:400px;
            background-color: whitesmoke;
            margin-top: 220px;
        }    

        .nextdates__parttime{
            width: 37%;
            padding-top: 60px;
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

        }
            .nextdates__parttime__title{
                width: 100%;
                margin-bottom: -120px;
            }
            .nextdates__parttime__dates{
                width: 73%;
                height: 360px;
                margin-top: -40px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .dates__text{
                    background-color: whitesmoke;
                    min-height: 80%;
                    min-width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 6px rgb(95, 0, 204) outset;
                }
                
    .contact{
        margin-top: 70px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




/*-------------------------------------------------------------------------INFORMACIÓN BOOTCAMP----------------------------------------------------------------------------*/

      

    .mainheadinfo{
        padding: 50px 0 50px 0;
    }
        .logoinfo__title{
            display: flex;
            justify-content: center;
        }
        .logoinfo__title > img{
            width: 50%;
        }


    .alumnossection{
        display: flex;
        flex-direction: column;
        height: 30%;
        margin-bottom: 50px;
        width: 100%;
    }
        .alumnossection__title{
            height: 10%;
        }
        .alumnossection__table{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            width: 100%;
        }
            
    .horariosection{
        display: flex;
        flex-direction: column;
        margin-bottom: 110px;
    }
        .horariosection__title{
            height: 10%;
            margin-bottom: 30px;
        }
        .horariosection__table {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
        

    .conceptossection{
        display: flex;
        flex-direction: column;
    }
        .conceptossection__title{
            height: 10%;
            margin-bottom: 70px;
        }
        .listas{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }



/*--------------------------------TABLAS-----------------------------------*/

table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
}

td{
    height: 35px;
}
th{
    font-size: 22px;
}
td{
    font-size: 20px;
}

thead th:nth-child(1), thead th:nth-child(2), thead th:nth-child(3), thead th:nth-child(4), thead th:nth-child(5), thead th:nth-child(6), thead th:nth-child(7) {
    width: 14%;
    height: 50px;
    background-image: linear-gradient(180deg, rgb(58, 1, 51) 5%, rgb(158, 14, 122) );
}

tbody tr{
    background-image: linear-gradient(180deg, rgba(36, 0, 32, 0.404) 90%, rgba(175, 22, 150, 0.692) );
}

.horariosection__table > table{
    height: 150px;
    font-weight: bold;
}



    /*-----------------------------LISTAS-------------------------------------*/        
                
li > h2{
    font-size: 40px;
    text-align: start;
}
dl{
    margin-top: 30px;
}

ul{
    width: 500px;
}

dd, dt {
    line-height: 1;
}
    
dt {
font-weight: bold;
}

dd {
margin-bottom: 1.5rem;
}


/*--------------------------------------------------------------------------------FORMULARIO------------------------------------------------------------------------------*/
        



form{
    height: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title{
    height: 200px;
    margin-top: 160px;
}

.personalinfo, .courseinfo{
    height: 200px;
    width: 100%;
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    border: 1px solid white;
    background-image: linear-gradient(180deg, rgba(58, 1, 51, 0.57) 5%, rgba(158, 14, 122, 0.666) );
}

    .personalinfo > div{
        display: flex;
    }
        .personalinfo > div > div, .courseinfo > div > div{
            flex-grow: 1;
            width: 100%;
        }
        .sitlaboral{
            display: flex;
            flex-direction: column;
        }
        .personalinfo > div > div >input{
            width: 100%;
        }


.courseinfo{
    height: 300px;
}
    .courseinfo > div{
        display: flex;
        height: 35%;
    }

    .modalidad{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .modalidad > div{
            width: 100%;
            margin-top:10px;
            display: flex;
            justify-content: space-around;
        }
    
    .ciudadbc, .fechacom, .conoc{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    
        .conoc > div{
            margin-top: 15px;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    
        input[type="checkbox"]{
            width: 40px;
        }

        select, .fechacom > input, .conoc > input{
            width: 40%;
            font-size: 20px;
        }

.coments{
    margin-top: 40px;
    display: flex;
}
    .coments > input{
        width: 350px;
        height: 100px;
    }
    
.divbutton{
    height: 300px;
}
    



/*---------------------------------------------------------------------------RESPONSIVE-----------------------------------------------------------------------------------*/


@media (max-width: 1280px) {
    
    body{
        background-image: none;
        background-color: black;
    }
    header{
        margin-bottom: 50px;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding-top: 6px;
        width: 100%;
    }

    .navbar > a{
        display: none;
    }
    .burguer{
        display: block;
    }
    .navbar__enlace{
        font-size: 10px;
        margin-top: 15px;
        
    }

    .logo > img{
        width: 100px;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
    }

    .lateralbar{
        width: 90%;
    }

    .lateralbar__mentors{
        padding-bottom: 50px;
    }

    .mainhead{
        margin-top: 0;
        width: 100%;
        height: 200px;
    }

    .content{
        width: 100%;
    }

    .nextdates{
        height: 100%;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    .nextdates__title{
        position: relative;
        margin: 0;
        width: 100%;
    }

    .nextdates__fulltime{
        flex-direction: row;
        justify-content: space-around;
        margin-top: 100px;
        width: 100%;
    }

    .nextdates__fulltime__title{
        width: 100%;
        margin-bottom: 100px;
    }

    .nextdates__fulltime__dates{
        width: 40%;
        height: 300px;
        justify-content: start;
    }

    .line{
        display: none;
    }    

    .nextdates__parttime{
        padding-top: 50px;
        width: 100%;
    }
    .nextdates__parttime__title{
        width: 100%;
        margin-bottom: 100px;
        height: 20px;
    }

    .nextdates__parttime__dates{
        width: 40%;
        margin-top: 0px;
    }

    .dates__text{
        min-height: 0%;
        width: 150px;
        margin-bottom: 20px;
    }

    .inscriptionbutton, .sendbutton {
        width: 150px;
        height: 60px;
        font-size: 60%;
    }

    .inscriptionbutton:hover, .sendbutton:hover{
        background: linear-gradient(to bottom, #ffffff, rgb(245, 113, 205));
        color:  rgb(121, 13, 121);
        -webkit-text-stroke: 2px rgb(248, 98, 216);
        font-size: 60%;
        width: 140px;
        height: 50px;
    }

    .contact{
        margin-top: 0px;
        margin-bottom: 50px;
        font-size: 80%;
    }

    .logoinfo__title{
        display: none;
    }

    td,th {
        font-size: 11px;
    }

    table{
        width: 90%;
    }

    .horariosection__table > table{
        height: 100px;
    }

    .listas{
        height: 350px;
        overflow: scroll;
        border: 1px solid white;
        padding: 20px 10px 0 10px;
        margin-bottom: 100px;
    }

    form{
        height: 1350px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form__title{
        margin-top: 50px;
    }

    .personalinfo{
        height: 500px;
    }

    .personalinfo > div{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .courseinfo{
        height: 700px;
        justify-content: space-around;
    }

    .courseinfo > div{
        display: flex;
        flex-direction: column;
    }

    .personalinfo > div > div{
        margin-bottom: 20px;
    }

    .courseinfo > div > div{
        margin-bottom: 40px;
    }

    .coments{
        width: 100%;
        flex-direction: column;
    }

    .coments>input{
        width: 100%;
    }

}